* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

p{
    position: relative;
    border: 1px solid black;
    margin: 10px;
    width: 90%;
    margin: 0.4%;
    padding: 1%;
    background-color: darkgray;
    float: left;
}
.chicken{
    display: inline-block;
    float: right;
    border: 1px solid black;
    background-color: pink;
    margin: 1%;
    padding:1%;
}
.beef{
    display: inline-block;
    float: right;
    border: 1px solid black;
    background-color: red;
    margin: 1%;
    padding:1%;
}
.sushi{
    display: inline-block;
    float: right;
    border: 1px solid black;
    background-color: lightyellow;
    margin: 1%;
    padding:1%;
}
#heading{
    text-align: center;
    font-size: 175%;
}
@media(min-width: 992px){
.col-lg-4 {
    width: 32.35%;
    float: left;
    border: 1px solid black;
}
}
@media(min-width: 768px) and (max-width: 991px){
.col-me-6 {
    width: 49%;
    float: left;
    border: 1px solid black;
}
.col-me-12 {
    width: 99%;
    float: left;
    border: 1px solid black;
}
}
@media(max-width: 767px){
.col-sm-12 {
    width: 99%;
    float: left;
    border: 1px solid black;
}
}