* {
    box-sizing: border-box;
    margin: 15px;
}
#heading{
    text-align: center;
    font-size: 175%;
}
p{
    border: 1px solid black;
    margin: 10px;
    background-color: darkgray;
    float: left;
}
@media(min-width: 992px){
.col-lg-4 {
    width: 32%;
}
}
@media(min-width: 768px) and (max-width: 991px){
.col-me-6 {
    width: 47.75%;
}
.col-me-12 {
    width: 97.85%;
}
}
@media(max-width: 767px){
.col-sm-12 {
    width: 100%;
}
}